/** Stylus Styles */
@require '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $amber.darken-1
  accent: $amber.accent-1
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-1
  error: $amber.accent-4
  success: $green.lighten-2
}

@require '../../node_modules/vuetify/src/stylus/main'
